#menuGrid{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-top:3%
}
.menuThumbnail{
    padding: 10px 15px;
    border-style:solid;
    border-color:#3B562F;
    margin-right: 3%;
}
#navBar{
    display:float;
}
.thumbnails{
    width:90%;
    height:auto;
}
