#top{
}
#menuGrid{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    padding-left:10%;
    margin-top:10%;
}
.menuThumbnail{
    padding: 10px 15px;
    border-style:solid;
    margin: 3%;
}
#navBar{
    display:float;
}
#logoPSR{
    width:90%;
    height:auto;
}
