#userProfile{
    display:grid;
    grid-template-columns: 10% 50%;
}
#userProfileIMG{
    width: 100%!important;
    height: 100%!important;
    object-fit: cover!important;
}
#userProfileWords{
    margin-left:2%
}
