.Button{
    padding: 10px 15px;
    margin: 5px;
    text-align: center;
    background-color:#50633B;
    color:#FBFBD4;
    border-style:solid;
    border-color:#3B562F;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3{
    font-family: Arial, Helvetica, sans-serif;
    color:#FBFBD4;

}
table{
    font-family:Arial, Helvetica, sans-serif;
    color:#FBFBD4;
}
p,label,span,li{
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
    color:#FBFBD4;
}
body{
  background-color:#6A8C24;
  padding-left:10%;

}
input,select{
    color:#FBFBD4;
    border-style:solid;
    margin-top:5px;
    margin-bottom:5px;
    background-color:#50633B ;
    border-color:#3B562F;
    padding:5px;;
}
.profileImage{
    width:10%;
    height:10%;
    border-style:solid;

}
#top{
    padding-top:3%;
}
